.leftMenu {
	background-color: rgba(21, 30, 47, 1);
	width: 240px;
	border: 10px solid rgb(182, 104, 104);

	svg {
		color: #FFF;
	}

	li {
		width: 100%;
		height: 48px;
		padding: 0 0 0 10px;
		vertical-align: middle;
		line-height: 48px;
	}

	li:hover {
		background-color: rgba(11, 40, 95, 0.5);
	}

	a {
		margin-left: 10px;
		text-decoration: none;
	}

	a:hover {
		color: #FFF;
	}
}

.rightMenu {
	width: 240px;
	border: 10px solid rgb(182, 104, 104);
}

.list {
	ul {
		li {
            color: #FFF;
			width: 100%;
			height: 32px;
			padding: 0 0 0 10px;
			vertical-align: middle;
			line-height: 32px;
		}
        li:hover {
            background-color: rgba(11, 40, 95, 0.5);
        }
	}
}
